body {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
}

section h2 {
  padding-left: 12rem;
}

.table {
  position: absolute;
  width: 20rem;
  right: 15rem;
  top: 7rem;
  border: rgba(100, 88, 88, 0.466) solid 4px;
}

.result {
  position: relative;
  padding: 20px;
  border-bottom: rgba(100, 88, 88, 0.466) solid 5px;
}

.result span {
  position: absolute;
  right: 5px;
  top: 12px;
}

.operations {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgba(100, 88, 88, 0.466);
  gap: 5px;
}

.operations button {
  padding: 20px;
  background-color: rgb(153, 141, 141);
  font-weight: 900;
}

.spans {
  grid-column: 1/3;
}

.operations .sign {
  background-color: rgb(87, 78, 67);
}
